<h1>{{blog.title}}</h1>
<p>{{{blog.content}}}</p>
<p>Written by {{blog.author}} on {{format_date blog.date_created}}</p>

<!-- Delete button -->
{{#if is_author}}
<form action="/blogs/{{blog.id}}?_method=DELETE" method="POST">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{{/if}}

<!-- Comments Section -->
<section id="comments">
  <h2>Comments</h2>
  {{#if comments.length}}
  <ul>
    {{#each comments as |comment|}}
    <li>
      <div class="comment">
        <p>{{comment.text}}</p>
        <p>Commented by {{comment.user}} on {{format_date comment.date_created}}</p>
      </div>
      <!-- Update comment form (for authenticated users) -->
      {{#if is_comment_author comment.user}}
      <form class="update-comment-form" data-comment-id="{{comment.id}}">
        <textarea name="comment" class="update-comment-textarea">{{comment.text}}</textarea>
        <button type="submit" class="btn btn-primary">Update Comment</button>
      </form>
      {{/if}}
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p>No comments yet.</p>
  {{/if}}

  <!-- Comment Form (for authenticated users) -->
  {{#if logged_in}}
  <form id="comment-form">
    <textarea name="comment" placeholder="Add your comment"></textarea>
    <button type="submit">Submit</button>
  </form>
  {{else}}
  <p>Please <a href="/login">login</a> to leave a comment.</p>
  {{/if}}
</section>
</main>

<script src="/js/blog.js"></script>
<script src="./js/dashboard.js"></script>